* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1A1717;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	min-height: 100vh;
}


.navbar {
	height: 120px;
    background-image: linear-gradient( to right top, rgba(119, 21, 116, 0.8), rgba(34, 139, 34, 0.8));
}

.navbar .navbar-brand {
    color: white;
    font-size: 30px;
    font-family:Microsoft Yahei;
    font-weight: bolder;
    text-decoration:none;
    line-height: 120px;
    font-size: 80px;
    font-weight: 900;
    -webkit-mask-image: linear-gradient(to right, red, orange, yellow, green, cyan, blue, purple);
            background-image: linear-gradient(to right, red, orange, yellow, green, yellow, orange, red, orange, yellow, green, yellow, orange, red);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200% 100%;
            animation: bganimate 5s infinite linear;
}

@keyframes bganimate {
            0% {
                background-position: 0 0,
            }
            100% {
                background-position: -100% 100%;
            }
        }

.navbar-header{
	text-align:center;
}

.quare{
	width: 100%;
	background: #f5f5f5;
	text-align: center;
  	font-family: 'PT Sans', sans-serif;
  	background: var(--dark-grey-color);
  	color: #eee;
}

#canvas-1, #canvas-2 {
  width: 500px;
  height: 400px;
  position: absolute;
}

#canvas-1 {
  left: 0px;
  top: 0px;
}

#canvas-2 {
  right: 0px;
  top: 0px;
}



/*
.topline{
	border: 6px solid red;
}

.middle{
	border: 6px solid red;	
}*/

.bottom_end{
	height: 80px;
	background: #333333;
	margin-top: 100px; 
}